:root {
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
  --color-wheat: rgb(245, 222, 179);
}
* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  padding: 21px 32px;
  border: 1px solid var(--color-wheat);
}

@media (min-width: --breakpoint-tablet) {
}

@media (min-width: --breakpoint-desktop) {
}
