.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
.movie {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 454px;
  height: 279px;
}
.movie__info {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}
.movie__title {
  color: #000;
  margin-top: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.movie__date {
  color: #827e7e;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.movie__tag {
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  padding: 2px 4px 3px 5px;
  background: #fafafa;
  margin-right: 8px;
  background-origin: padding-box;
  color: rgba(0, 0, 0, 0.65);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.movie__description {
  color: #000;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.spin {
  position: absolute;
  top: 150px;
  left: 700px;
}
